<div class="form-section">
  <%= form_tag instructors_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an instructor"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="cards-box">
  <div class="cards">
    <% @instructors.each do |instructor| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag "https://source.unsplash.com/#{(@images).sample}", alt: "card image", class: "card-img-top", style: "height: 220px"%>
        <div class="card-body">
          <div class="card-body-text">
            <h5 class="card-title"><%= instructor.first_name %> <%= instructor.last_name %></h5>
            <p class="card-text">Expertise: <%= instructor.expertise %></p>
          </div>
          <div class="card-footer-price">
            <%= link_to 'See profile', instructor_path(instructor), class: "button" %>
            <div class="price">
              <h5>£45.99 </h5>
              <p>/hour</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
