<div class="container">
  <%# <div class="card"> %>
  <h1 style="text-align:center">Create an Instructor Profile</h1><br>
    <%# <div class="row justify-content-center"> %>
  <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
        <%= simple_form_for [ @instructor ] do |f| %>
        <%= f.input :expertise, label: "Expertise" %>
        <%= f.input :price, label: "Price per hour" %>

        <%= f.input :bio, label: "Bio" %>

        <%= f.button :submit, class: "button"%>
        <% end %>
    <%# </div> %>
  <%# </div> %>
</div>
