<div class="container">
  <h1>My bookings</h1>
  <div class="row">
    <div class="col flex">
      <% @bookings.each do |booking| %>
        <div class="booking-list">
          <div class="left-side">
            <div class="image">avatar</div>
            <div class="text">
              <h6><strong><%= booking.user.first_name %> <%= booking.user.last_name %></strong> - </h6>
              <h6>Date: <%= booking.date.to_time.strftime('%d/%m/%Y') %> | Time: <%= booking.start_time.to_time.strftime('%H:%M') %></h6>
            </div>
          </div>
          <div class="buttons">
            <% if booking.accepted %>
              <p class="accept">✔️Accepted</p>
              <%= link_to 'Cancel', booking_path(booking), class: 'button-sm', id: 'decline',  method: :delete %>
            <% else %>
              <%= link_to 'Accept', accept_booking_path(booking), method: :post, class: 'button-sm' %>
              <%= link_to 'Cancel', booking_path(booking), class: 'button-sm', id: 'decline',  method: :delete %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
